* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    font-family: 'Inter', sans-serif;
}



header {
    grid-area: header;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px 0 200px;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.header .links ul {
    display: flex;
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
}

.link-one, .link-two {
    margin-right: 35px;
}


.hero {
    grid-area: hero;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 170px 0 170px;
    gap: 200px;
    
}

.hero .img-container {
    width: 100%;
    height: 75%;
}

.hero .img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero .welcome-text {
    width: 100%;
    height: auto;
}



.hero .welcome-text .title {

    font-size: 48px;
    font-weight: bolder;
}

.hero .welcome-text .subtitle {
    padding-right: 150px;
    font-size: 18px;
    color: #E5E7EB;
    line-height: 1.5rem;
}

.button-container {
    margin-top: 20px;
}

.btn-signin {
    padding: 5px 25px 5px 25px;
    font-size: 18px;
    font-weight: bold;
    color: #E5E7EB;
    background-color: #3882F6;

    border-radius: 10px;
}


#btn-one {
    border:solid #3882F6;
}

#btn-two {
    border: solid #F9FAF8;
}

.btn-signin:hover  {
    transform: scale(1.05);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}




.info {
    grid-area: info;
    color: #1f2937;
}

.info-title {
    display: flex;
    justify-content: center;
    margin: 80px 0 80px 0;
    font-size: 32px;
}

.images > img {
    border-radius: 8px;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 30px #000;
}

.images {
    display: grid;
    grid-template-columns: 
    repeat(
        auto-fit,
        minmax(150px, 1fr)
    );
    gap: 32px;
    margin: 0 300px 0 300px;
}

.quotes {
    grid-area: quotes;
    background-color: #E5E7EB;
    color: #1F2937;
    font-style: italic;
}

.quotes .frase {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 300px 0 300px;
}

.quotes .frase p{
    font-size: 38px;
    font-weight: 100;
}

.signup-button {
    grid-area: signup-button;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-conteainr {
    display: flex;
    flex-direction: column;
    line-height: 20px;
}

.call-to-action {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 40px 100px 40px 100px;
    border-radius: 10px;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

#call-text {
    font-weight: 800;
}

#under-call-text{
font-size: 14px;
}

.footer {
    grid-area: footer;
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding-top: 45px;
    font-weight: 100;
}

.grid-container {
    display: grid;
    gap: 0;
    grid-template:
        "header" 90px
        "hero" 600px
        "info" 650px
        "quotes" 560px
        "signup-button" 460px
        "footer" 135px /
        100%
}